.our-doc{
    position: relative;
}
.our-doc::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 23%;
    margin: 0px auto;
    width: 55%;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-in;
    transform: scale(0,1);
    animation: leftRight 2s ease  infinite alternate ;
}
@keyframes leftRight {
    0%{
        transform: scale(0,1);
    }
    100%{
        transform: scale(1,1);
    }
    
}

@media screen and (max-width: 575px) {
    .our-doc::after{
        left: 16%;
        width: 70%;
        height: 1px;
        bottom: -1px;
    }
}