#root{
  width:100%;
}
.primary-btn{
  color: white;
  background-color: #3aaaa2;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 7px 25px 8px 25px;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
.primary-btn:hover{
  color: #35958f;
  background-color: #ffffff00;
  border: 2px solid #3aaaa2;
}

a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: inherit;
  text-decoration: none;
}
